div {
  background-color: bisque;
  margin: 0px;
  padding: 20px 0px 0px 20px;
}
body {
  margin: 0px;
  text-align: center;
}
h1 {
  margin-top: 0px;
}
a {
  color: #07a1fa;
  margin: 20px 20px;
}
a:hover {
  color: #fe7e6d;
}
hr {
  background-color: white;
  border-style: none;
  height: 2px;
  width: 20%;
  border-style: dotted none none;
  border-color: #9145b6;
  border-width: 5px;
}
.top {
  padding-top: 50px;
  font-family: cursive;
}
.middle {
  background-color: #93ffd8;

  height: 700px;
}
.bottom {
  background-color: #aefeff;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  height: 200px;
}
.web {
  text-decoration: underline;
}
.para1 {
  margin: 0px;
}
.head {
  color: rgba(16, 171, 243, 0.966);
  background-color: rgb(0, 0, 0);
  display: inline-block;
  width: 150px;
  position: absolute;
  left: 20px;
  font-family: cursive;
  font-size: 30px;
}
.heading {
  margin: 30px;
}
.table1 {
  font-family: cursive;
  margin-top: 0px;
  display: inline-block;
  position: relative;
  top: 50px;
  right: 130px;
  font-size: 20px;
  color: #548cff;
}
.table2 {
  display: inline-block;
  font-family: cursive;
  position: relative;
  right: 50px;
  bottom: 160px;
  font-size: 20px;
  color: #548cff;
}
h1 {
  text-align: center;
}
.bottomcloud {
  position: absolute;
  top: 250px;
  left: 320px;
}
.topcloud {
  position: relative;
  left: 270px;
}
.intro1 {
  font-size: 2.7rem;
  margin: 50px auto 0px auto;
  color: #ff6363;
  font-weight: bold;
}
.upperbottom {
  background-color: white;
  height: 1000px;
  align-content: space-between;
}
.intro2 {
  font-size: 1.45em;
  color: #ff6363;
  font-weight: lighter;
}
.webdev {
  width: 15%;
  display: inline-block;
  margin: 10px 30px 20px 30px;
  float: left;
}
.java {
  width: 15%;
  display: inline-block;
  margin: 10px 30px 20px 30px;
  float: left;
}
.computer {
  display: inline-block;
  width: 15%;
  margin: 10px 30px 20px 30px;
  float: left;
}
.btn {
  background: #9bb6c7;
  background-image: -webkit-linear-gradient(top, #9bb6c7, #005eff);
  background-image: -moz-linear-gradient(top, #9bb6c7, #005eff);
  background-image: -ms-linear-gradient(top, #9bb6c7, #005eff);
  background-image: -o-linear-gradient(top, #9bb6c7, #005eff);
  background-image: linear-gradient(to bottom, #9bb6c7, #005eff);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 0px 0px 10px #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e8da3a;
  font-size: 20px;
  padding: 7px 15px 10px 20px;
  border: dotted #1765eb 0px;
  text-decoration: coral;
}

.btn:hover {
  background: #06e8f8;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.copyright {
  color: #35589a;
  position: relative;
  top: 40px;
}
